@import '../common/_variable.scss';

.imgLiquidFill{
    img {
        display: none;
    }
}

.cursor-pointer{
    cursor: pointer;
}

.container {
    max-width: calc(100% - 50px)!important;
}

@media (max-width: 576px) {
    .container {
        max-width: 100%!important;
    }
}

body {
    background: #EAEAEA;
}
.main-page{
    margin: $spacer auto;
    padding: $spacer;
    max-width: 1024px;
    width: calc(100vw - 32px);
    border-radius: $spacer * 0.5;
    background: $white;

    .grid-wrapper{
        column-count: 2;
        /*欄數*/
        column-gap: $spacer;
        @media (max-width: 700px){
            column-count: 1;
        }
        .grid{
            box-sizing: border-box;
            margin: 0 auto 5px;
            padding: 5px;
            break-inside: avoid;

            p {
                margin-bottom: $spacer * 0.5;
            }
        }
    }

    .emt-flow-box{
        position: relative;
        overflow: hidden;
        width: 100%;
        border-radius: $spacer * 0.25;
        box-shadow: 0px 0px 5px $gray-600;
        .control-mask{
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            .control-button{
                position: absolute;
                color: $gray-900;
                text-shadow: 0px 0px 5px $gray-700;
                font-size: $spacer * 3;
                cursor: pointer;
                &[rel="up"] {
                    top: 10px;
                    left: 50%;
                    transform: translateX(-50%);
                }
                &[rel="down"] {
                    bottom: 10px;
                    left: 50%;
                    transform: translateX(-50%);
                }
                &[rel="left"] {
                    top: 50%;
                    left: 10px;
                    transform: translateY(-50%);
                }
                &[rel="right"] {
                    top: 50%;
                    right: 10px;
                    transform: translateY(-50%);
                }
            }
        }
        .view-area{
            width: 100%;
            height: 100%;
            border: 1px solid #aaa;
            border-radius: 4px;
            transition: all 0.1s;
        }
        .preview-area{
            position: absolute;
            right: 5px;
            bottom: 5px;
            width: 100px;
            box-shadow: 0px 0px 5px $gray-600;
            img{
                width: 100%;
            }
        }

        .download-btn{
            position: absolute;
            right: 5px;
            bottom: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            border-radius: 2px;
            background: #EEE;
            box-shadow: 0px 0px 5px $gray-600;
            color: #999;
            font-size: 18px;
            cursor: pointer;
        }
    }

    .note-box{
        overflow: hidden;
        padding: $spacer * 1.25;
        border-radius: $spacer * 0.25;
        background: $gray-200;
        box-shadow: 0px 0px 5px $gray-600;
        .note-header{
            margin-bottom: $spacer * 0.75;
            .title{
                margin-bottom: $spacer * 0.25;
            }
            small{
                color: $gray-600;
            }
        }
        .note-body{
            .memo{
                margin-bottom: $spacer * 1;
                .memo-title{
                    margin-bottom: $spacer * 0.25;
                    color: $red-800;
                    font-weight: 900;
                    font-size: 18px;
                }
                .memo-content{
                    margin-bottom: $spacer * 0.25;
                    color: $gray-700;
                    font-size: 14px;
                }
            }
            .memo-item{
                .memo-item-title{
                    margin-bottom: $spacer * 0.25;
                    color: $blue-800;
                    font-weight: 700;
                    font-size: 16px;
                }
                .memo-item-content{
                    margin-bottom: $spacer * 0.25;
                    color: $gray-700;
                    font-size: 14px;
                }
            }
            .grid-wrapper{
                column-count: 2;
                /*欄數*/
                column-gap: $spacer;
                .grid{
                    box-sizing: border-box;
                    margin: 0 auto 5px;
                    padding: 5px;
                    break-inside: avoid;
                }
            }
        }
    }

}